.topheader{
    padding:4rem 0;
    justify-content:space-around;
}
.main_logo{
    height:50px;
    width:50px;
}
nav{
    width:100%;
    display:flex;
    justify-content: flex-end;
    align-items:center; 
    button.navbar-toggler {
        background-color:$primary;
        border:transparent;
          &:focus{
              border:transparent;
          }
    }
}
.nav-link{
              font-size: 1.4rem;
              font-family: "Montserrat";
              color:$primary-dark;
              &:hover{
                color:$primary-light;
            }
          }
          ul.navbar-nav{
               list-style-type: none;
               margin: 0;
               padding: 0;
                   .nav-item{
                       padding:0 1.4rem;
                   }
          }
          .logo_text{
              font-size:2.8rem;
              font-weight:700;
              color:$secondary;
              padding-left:0.5rem;
          }
          img.flag{
              height:18px;
              width:30px;
          }
          i{
              font-size:1.6rem;
              color:$primary-dark;
              font-weight:300;
          }
          .search{
              border-left:0.1rem solid $primary-light;
          }
     .banner{
         max-height:70rem;
     }     
   .secondary-header{
       background-color: $secondary;
       padding:1.2rem 0;             
                a{
                    color:#fff;
                    padding:0 ;
                    font-size:2.5rem;
                     font-weight:500;
                      &:hover{
                          text-decoration:none;
                      }
                }
         }
        