@import "variables";
@import "header";
@import"content";
@import "navbar";
@import "footer";
@import "media";

html{
  font-size:10px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  outline: none;
  }
  a{
	color: inherit;
	text-decoration: none;
  }
  a:visited,
  a:hover,
  a:focus,
  a:active {
	text-decoration: none;
	color: inherit;
  }

//@import "media";